

.wrap {
    min-height: 100vh;
}

.carousel {
    margin-bottom: 60px;
}

.carousel-caption {
    z-index: 10;
    padding-bottom: 300px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }

.gallery-button{
    z-index: 10;
    position: absolute;
    text-align: center;
    color: white;
    /* margin-bottom: 48%;
    margin-bottom: 48%; */
    margin-right: 50%;
    margin-left:45;
    background:orangered;
    padding: 15px;
    border-radius: 10px;
 
}


h2{
    color: white;
}

.carousel-inner .item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.main_img1 {
    background-image: url('../img/wood-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.main_img2 {
    background-image: url('../img/restaurant-2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.main_img3 {
    background-image: url('../img/farm-2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.main_logo{
    max-height: 300px;
}

hr {
    height: 10px;
    margin-top: 200px;
    margin-bottom: 50px;
    background-color: rgb(184, 180, 180);
    margin-left: 40px;
    margin-right: 40px;
  }

  .story{

  }
  .our-story {
    margin-bottom: 250px;
    display: flex;
    /* justify-content: center; */
    align-content: space-around;
    /* align-content: center; */
    /* margin-right: 50;
    margin-left: 50; */
    /* font-family: 'Galada', cursive; */
  }

  .blackfont{
      color: black;
      font-size: px;
    }

  h3{
    font-family: 'Galada', cursive;
    font-size: 125px;
    color: orangered;
    text-shadow: 2px 2px 6px grey;
    }

    .smaller{
      font-family: 'Galada', cursive;
      font-size: 80px;
      color: orangered;
      text-shadow: 2px 2px 6px grey;
      }

  .menu{
      margin-top: 200px;
      background-image: url('../img/food-review.jpg');
      background-position: center;
      background-size: cover;
      max-height: 600px;
      overflow-y:scroll;
    }

   
    .no-gutters {
        margin-right: 0;
        margin-left: 0;
     }
  
     .panel{

     }

     .text-block{
      z-index: 10;
      position: relative;
      text-align: center;
      color: white;
      /* margin-bottom: 48%;
      margin-bottom: 48%; */
      margin-right: 25%;
      margin-left:25;
      background: rgba(0, 0, 0, .3);
      padding: 15px;
  /* .tab-pane{
    height:300px;
    background-image: url('../img/food-review.jpg');
    overflow-y:scroll;
    width:100%;
   */
  }
     
  
  .contact-form {
    background-color: orangered;
  }